.main-text {
    padding-top: 50px;
    margin-bottom: 16px;
}

.main-text p, .intro-big-text {
    font-family: 'Hearing', sans-serif;
    color: var(--bluNavy);
}

.main-text p:nth-child(2), .main-text p:nth-child(3) {
    font-size: 20px;
    /* margin: 0; */
}

.main-text .intro-big-text {
    font-size: 70px;
    letter-spacing: 0.07rem;
}


.home_bg {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    background-image: url('../images/hot-air-baloon.png');
    background-size: cover;
    background-repeat: no-repeat;
}


@media (min-width:768px) {
    .home_bg {
        width: 58.3%;
    }
    .main-text .intro-big-text {
        font-size: calc(8rem + 7vw);
        line-height: calc(3rem + 8vw);
        letter-spacing: 0.07rem;
    }

}
