/* -------------------------------------------------------------------------- */
/*                               Esplora l'isola                              */
/* -------------------------------------------------------------------------- */



/* Opacità per mettere in risalto le frecce di navigazione della gallery */
.carousel-control-prev {
    background: -webkit-linear-gradient(left, rgba(5, 10, 4, 0.8) 0, transparent 90%);
}

.carousel-control-next {
    background: -webkit-linear-gradient(right, rgba(5, 10, 4, 0.8) 0, transparent 90%);
}

.carousel-control-prev, .carousel-control-next {
    opacity: 1;
    width: 18%;
}

#gallery-explore {
    border-radius: 5px;
    overflow: hidden;
}

.carousel .carousel-item {
    height: 280px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: none;
    /* max-height: 280px; */
}


@media (min-width: 768px) {
    .carousel .carousel-item {
        height: 400px;
    }

    .carousel-item img {
        max-height: 400px;
    }
}

@media (min-width: 992px) {
    .carousel .carousel-item {
        height: 500px;
    }

    .carousel-item img {
        max-height: 500px;
    }
}