/* -------------------------------------------------------------------------- */
/*                              Vivere a Komorebi                             */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                    pin-over-map                            */
/* -------------------------------------------------------------------------- */

.map {
    width: 100%;
    border-radius: 5px;
}

.map-wrapper {
    margin: 0 auto;
    position: relative;
    padding: 0;
    flex: 1 0 40%;
}

.map-wrapper .map {
    display: block;
}

.iconOver {
    width: 14%;
    position: absolute;
}

.map-wrapper #pin-over-map-bar {
    bottom: 45%;
    left: 23%;
}

.map-wrapper #pin-over-map-bar-2 {
    bottom: 17%;
    left: 27%;
}

.map-wrapper #pin-over-map-sorgenti {
    bottom: 58%;
    left: 15%;
}

.map-wrapper #pin-over-map-sorgenti-2 {
    bottom: 65%;
    left: 45%;
}

.map-wrapper #pin-over-map-sorgenti-3 {
    bottom: 36%;
    left: 33%;
}

.map-wrapper #pin-over-map-restaurant {
    bottom: 60%;
    left: 27%;
}

.map-wrapper #pin-over-map-restaurant-2 {
    bottom: 39%;
    left: 67%;
}

.map-wrapper #pin-over-map-infopoint {
    bottom: 17%;
    left: 57%;
}

.map-wrapper #pin-over-map-station {
    bottom: 63%;
    left: 78%;
}

.map-wrapper #pin-over-map-transport {
    bottom: 70%;
    left: 23%;
}

.map-wrapper #pin-over-map-transport-2 {
    bottom: 36%;
    left: 83%;
}

.icon-map {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.icon-map img {
    filter: invert(46%) sepia(10%) saturate(2489%) hue-rotate(66deg) brightness(94%) contrast(84%);
}

.icon-map p {
    color: var(--verdeForesta);
}

.icon-map img.active {
    zoom: 1.5;
    filter: invert(98%) sepia(7%) saturate(2078%) hue-rotate(38deg) brightness(97%) contrast(77%);
}

.icon-map p.active {
    color: var(--melaVerde);
}



.iconOver {
    visibility: hidden;
}

.map-icon-wrapper-mobile {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}
/* width */
.map-icon-wrapper-mobile::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}
/* Track */
.map-icon-wrapper-mobile::-webkit-scrollbar-track {
    background: var(--melaVerde);
}

/* Handle */
.map-icon-wrapper-mobile::-webkit-scrollbar-thumb {
    background: var(--verdeForesta);
}


@media (min-width:992px) {
    .map_section {
        display: flex;
        flex-direction: row;
        gap: 5vw;
        align-items: flex-start;
        align-content: flex-start;
    }

    .icon-map div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: min-content;
        text-align: center;
    }

    .map-icon-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .map-icon-wrapper .icon-map {
        flex: 1 0 50%;

    }

    .icon-map .text-icon-map-description {
        width: 200%;
    }

    .map_section__intro_text {
        order: 2;
    }
}