/* -------------------------------------------------------------------------- */
/*                                    ADOPT                                   */
/* -------------------------------------------------------------------------- */
.card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.tree_mean {
    font-size: 12px;
    font-weight: 500;
}