:root {
    --resina: #f1f8f0;
    --gordonsGreen: #050a04;
    --bluNavy: #035376;
    --bluCeleste: #4dbfca;
    --melaVerde: #aedc98;
    --verdeForesta: #47873e;
    --swiper-theme-color: #aedc98 !important;
    --komorebi-border-radius: 5px;
}

html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--resina);
}


/* -------------------------------------------------------------------------- */
/*                                   Utility                                  */
/* -------------------------------------------------------------------------- */
.pointer {
    cursor: pointer;
}

.drop-shadow-img {
    box-shadow: 4px 4px 10px rgba(5, 10, 4, 0.1);
}

.komorebi-mt {
    margin-top: 30px;
}

.pb-tree {
    padding: 0 0 200px 0;
}


/* -------------------------------------------------------------------------- */
/*                              Ridefinizioni BS                              */
/* -------------------------------------------------------------------------- */



.dropdown-item{
    color: var(--bluNavy);
}
.dropdown-menu{
    background-color: var(--resina);
}
.dropdown-item.active {
    background-color: var(--resina);
    color: var(--verdeForesta);
}
.dropdown-item:focus, .dropdown-item:hover {
    color: var(--verdeForesta);
    background-color: var(--resina);
}
.card {
    border: none;
}

.btn {
    border-radius: 2px;
    padding: 8px 18px;
    filter: drop-shadow(4px 4px 10px rgba(5, 10, 4, 0.25));
}

.btn-primary {
    background-color: var(--verdeForesta);
    border-color: var(--verdeForesta);
    text-transform: uppercase;
    color: var(--resina);
}

.btn-primary:hover, .btn-primary:active {
    background-color: var(--melaVerde);
    border-color: var(--melaVerde);
    color: var(--gordonsGreen);
}

.btn-secondary {
    background-color: var(--resina);
    border-color: var(--resina);
    text-transform: uppercase;
    color: var(--verdeForesta);
}

.btn-secondary:hover, .btn-secondary:active {
    background-color: var(--melaVerde);
    border-color: var(--melaVerde);
    color: var(--gordonsGreen);
}

.btn-info {
    background-color: var(--bluCeleste);
    border-color: var(--bluCeleste);
    text-transform: uppercase;
    color: var(--resina);
}

.btn-info:hover, .btn-info:active {
    background-color: var(--bluNavy);
    border-color: var(--bluNavy);
    color: var(--resina);
}


/* .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: var(--resina) !important;
    background-color: var(--melaVerde) !important;
    border-color: var(--melaVerde) !important;
} */

.modal-header {
    border-bottom: none;
}

.modal-header button.close {
    font-size: 24px;
    color: var(--resina);
}

.modal-content {
    background-color: var(--verdeForesta);
    border-radius: var(--komorebi-border-radius);
}

.modal-content p {
    color: var(--resina);
    font-size: 18px;
}


/* -------------------------------------------------------------------------- */
/*                                 TIPOGRAFIA                                 */
/* -------------------------------------------------------------------------- */
h1 {
    font-size: 20px;
    font-family: 'Hearing', sans-serif;
    letter-spacing: 0.03rem;
    margin: 0;
}

h2 {
    font-size: 18px;
    font-family: 'Hearing', sans-serif;
    letter-spacing: 0.03rem;
}

h3 {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.02rem;
}

.subtitle {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
}


.main_text {
    padding-top: 50px;
    margin-bottom: 16px;
}

.main_text p, .intro-big-text {
    font-family: 'Hearing', sans-serif;
    color: var(--bluNavy);
}

.main_text p:nth-child(2), .main_text p:nth-child(3) {
    font-size: 20px;
    /* margin: 0; */
}

.main_text .intro-big-text {
    font-size: 70px;
    letter-spacing: 0.07rem;
}

.tree_price {
    font-size: 24px;
    color: var(--resina);
}

p {
    font-size: 16px;
    /* font-size: 1rem; */
    line-height: 150%;
    letter-spacing: 0.02rem;
    font-family: 'Manrope', sans-serif;
    color: var(--gordonsGreen);
    margin: 0px;
}

/* -------------------------------------------------------------------------- */
/*                                 Text colors                                */
/* -------------------------------------------------------------------------- */
.text-res {
    color: var(--resina);
}

.text-vf {
    color: var(--verdeForesta);
}

.text-mv {
    color: var(--melaVerde);
}

.text-bc {
    color: var(--bluCeleste);
}

.text-bn {
    color: var(--bluNavy);
}

/* -------------------------------------------------------------------------- */
/*                              Background colors                             */
/* -------------------------------------------------------------------------- */
.bg-vf {
    background-color: var(--verdeForesta);
}

.bg-mv {
    background-color: var(--melaVerde);
}

.bg-bc {
    background-color: var(--bluCeleste);
}

.containerKomorebi {
    width: calc(100vw - 40px);
    margin: 0 auto;
    position: relative;
}

.containerKomorebi-md {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.text-icon-map {
    font-size: 24px;
    color: var(--verdeForesta);
    font-weight: bold;
}


header {
    box-shadow: 0px 4px 4px rgba(5, 10, 4, 0.1);
    /* filter: drop-shadow(0px 4px 4px rgba(5, 10, 4, 0.1)); */
}

#btn_menu_open {
    filter: invert(13%) sepia(51%) saturate(6978%) hue-rotate(186deg) brightness(95%) contrast(98%);
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, .6);
    z-index: 1;
    opacity: 0;
    top: 0;
    z-index: 998;
    transition: all .5s ease-in-out;
}

.overlay.active {
    display: block;
    opacity: 1;
}

header {
    top: 0;
    left: 0;
    /* padding: 30px; */
    display: flex;
    height: 50px;
    width: 100%;
    padding: 0.5rem 1rem;
    /* max-width: 1350px; */
    justify-content: space-between;
    /* Per centrarlo non posso usare o auto perché è fixed, quindi */
    background-color: var(--resina);
}

header .logo {
    height: 30px;
    width: 30px;
}

.menu {
    background-color: var(--bluNavy);
    height: 100vh;
    width: 90vw;
    position: absolute;
    right: -100%;
    top: 0;
    z-index: 999;
    box-shadow: 0px 4px 4px rgba(5, 10, 4, 0.5);
}

.menu--close {
    display: none;
    animation: slide-left-close 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.menu--open {
    /* display: block; */
    animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.homepage__wrapper {
    height: 100vh;
    width: 100vw;
}

.home_bg {
    width: 100%;
    height: 100%;
    position: absolute;
    /* z-index: 996; */
    right: 0;
    background-image: url('../images/Mong.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.mobile_menu_wrapper {
    margin-top: 60px;
}

.mobile_menu_ul {
    padding: 0;
}

.mobile_menu_ul .sub_menu {
    margin-left: 40px;
}

.mobile_menu_ul>li {
    list-style: none;
    font-size: 24px;
    font-family: 'Hearing', sans-serif;
    letter-spacing: 0.02rem;
    margin-bottom: 30px;
    height: 30px;
}

.mobile_menu_ul>li a {
    color: var(--resina);
    display: block;
}


.mobile_menu_ul>li.panel {
    height: auto;
    margin-bottom: 0;
}


.mobile_menu_ul>li.active .header-link {
    color: var(--melaVerde);
    display: block;
}

.mobile_menu_ul>li span:nth-child(1) {
    display: inline-block;
    width: 10px;
    height: 20px;
    margin-right: 20px;
    border-radius: 0 1px 1px 0;
}

#collapseVivereAKomorebi>ul>li span:nth-child(1) {
    margin-left: 20px;
}

.mobile_menu_ul>li.active>a>span:nth-child(1) {
    background: var(--melaVerde);
}

.icon-menu-mobile {
    height: 30px;
    filter: invert(100%) sepia(15%) saturate(487%) hue-rotate(45deg) brightness(100%) contrast(95%);
}

/* -------------------------------------------------------------------------- */
/*                                 Animazioni                                 */
/* -------------------------------------------------------------------------- */

@keyframes slide-left {
    0% {
        right: -100%;
        opacity: 0;
    }

    100% {
        right: 0%;
        opacity: 1;
    }
}

@keyframes slide-left-close {
    0% {
        right: 0%;
        opacity: 1;
    }

    100% {
        right: -100%;
        opacity: 0;
    }
}

#alberelli {
    z-index: 997;
    background-image: url('../images/skyline.png');
    background-repeat: repeat-x;
    height: 100px;
    /* width: 100vw; */
    width: calc(100% + 40px);
    margin-left: -20px;
    position: fixed;
    bottom: 0;
    object-fit: scale-down;
    /* background-color: rebeccapurple; */
}

.footer {
    background-color: var(--gordonsGreen);
    padding-bottom: 20px;
}

.footer .section_title {
    color: var(--resina);
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;    
    margin-top: 40px;
}

.footer a {
    color: var(--resina);
    font-size: 14px;
    margin: 10px 0 0 0;
}

.footer_logo_wrapper p {
    color: var(--resina);
    font-size: 32px;
    text-align: center;
    font-family: 'Hearing', sans-serif;
}

.footer li {
    text-align: center;
}

.footer_logo_wrapper .logo {
    margin: auto;
    display: block;
    height: 80px;
    width: 80px;
}

.footer .copyright {
    color: var(--resina);
    font-weight: 200;
    /* font-size: 12px; */
    
}

.footer .separator {
    width: 30%;
    height: 1px;
    background-color: var(--resina);
    margin: 40px 0;
}

/* -------------------------------------------------------------------------- */
/*                                    Card                                    */
/* -------------------------------------------------------------------------- */
.card, .rounded-image {
    border-radius: var(--komorebi-border-radius);
    overflow: hidden;
}

.card_house_wrapper {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}


.card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover
}


/* Heart per adopt e booking */
.card_heart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* -------------------------------------------------------------------------- */
/*                                    HERO                                    */
/* -------------------------------------------------------------------------- */
.hero_explore {
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    display: flex;
}

.hero_img {
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero_img.hero_img--choose_to_reuse {
    background-image: url("../images/choose_to_reuse/hero.jpg");
}

.hero_img.hero_img--source {
    background-image: url("../images/source/hero.png");
}

.hero_explore .hero_overlay, .hero_img .hero_overlay {
    background: rgba(77, 191, 202, 0.8);
    box-shadow: 4px 4px 10px rgba(5, 10, 4, 0.1);
    border-radius: var(--komorebi-border-radius);
    padding: 30px;
}

.hero_overlay.hero_overlay--choose_to_reuse {
    background: rgba(174, 220, 152, 0.8);
}

.card_1_wrapper {
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
}


.card_1_img {
    width: 100%;
    height: 250px;
    background-color: #f2d4d4;
    border-radius: var(--komorebi-border-radius);
    overflow: hidden;

}

.card_1_img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card_1_txt_wrapper {
    padding: 25px;
    min-height: auto;
    background-color: var(--resina);
    box-shadow: 4px 4px 10px rgba(5, 10, 4, 0.1);
    padding: 40px;
    /* position: absolute; */
    /* top: 200px; */
    position: relative;
    width: 85%;
    margin: 0 auto;
    margin-top: -50px;
    display: block;
    text-align: center;
    left: 0;
    right: 0;
    border-radius: var(--komorebi-border-radius);
    /* min-height: 322px; */
}

.card_1_title {
    color: var(--verdeForesta);
}

.card_1_txt {
    display: none;
}

.fauna_card_wrapper .card_1_txt_wrapper {
    background-color: var(--verdeForesta);

}

.fauna_card_wrapper .card_1_txt_wrapper .card_1_title {
    color: var(--resina);
}

.fauna_card_wrapper .card_1_txt_wrapper .card_1_txt {
    color: var(--resina);
}


.gallery_content {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    position: relative;
}

.gallery_arrow {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 3%;
}

.gallery_arrow img {
    height: fit-content;
}

@media (min-width: 776px) {
    .containerKomorebi {
        width: calc(100vw - 80px);
        max-width: 1920px;
        /* min-height: 100vh; */
        margin: 0 auto;
        position: relative;
    }

    /* -------------------------------------------------------------------------- */
    /*                                 TIPOGRAFIA                                 */
    /* -------------------------------------------------------------------------- */
    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 24px;
    }

    /* -------------------------------------------------------------------------- */
    /*                               Footer Tablet                                */
    /* -------------------------------------------------------------------------- */
    footer {
        max-width: 100vw;
    }

    .footer .section_title {
        font-size: 12px;
    }

}

@media (min-width:992px) {
    .containerKomorebi {
        width: calc(100vw - 160px);
        max-width: 1920px;
        /* min-height: 100vh; */
        margin: 0 auto;
        position: relative;
    }

    /* -------------------------------------------------------------------------- */
    /*                                 TIPOGRAFIA                                 */
    /* -------------------------------------------------------------------------- */
    h1 {
        font-size: 64px;
    }

    h2 {
        font-size: 40px;
        letter-spacing: 0.03rem;
    }

    p {
        font-size: 1.125rem;
        /*18px*/
    }

    /* -------------------------------------------------------------------------- */
    /*                               Footer Desktop                               */
    /* -------------------------------------------------------------------------- */
    .footer .section_title {
        font-size: 20px;
    }

    /* -------------------------------------------------------------------------- */
    /*                                   0-home                                   */
    /* -------------------------------------------------------------------------- */
    .home_bg {
        width: 58.333333%;
    }

    .main_text .intro-big-text {
        font-size: calc(8rem + 7vw);
        line-height: calc(3rem + 8vw);
        /*Remove space below the text baseline*/
        letter-spacing: 0.07rem;
    }


    .hero_img .hero_overlay {
        background: rgba(77, 191, 202, 0.8);
        box-shadow: 4px 4px 10px rgba(5, 10, 4, 0.1);
        border-radius: var(--komorebi-border-radius);
        flex: 0 0 33.333333%;
        padding: 30px;
    }

    .hero_img_desktop_wrapper .hero_img {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
        height: 110vh;
        border-radius: var(--komorebi-border-radius);
    }

    .hero_img_desktop_wrapper {
        width: calc(100vw - 160px);
        max-width: 1920px;
        margin: 0 auto;
        position: relative;
        display: flex;
    }

    .hero_img_desktop_wrapper .hero_overlay {
        position: absolute;
        right: 0;
        width: 70%;
        padding: 50px;
    }

    #li_servizi, .panel, #btn_menu_open, #btn_menu_close {
        display: none !important;
    }

    .menu--close {
        display: block !important;
        animation: none;
    }

    .menu {
        /* width: 100%; */
        height: auto;
        display: block;
        position: initial;
        background-color: transparent;
        box-shadow: none;

    }

    .mobile_menu_wrapper {
        margin: 0;
    }

    header {
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 80px;
    }

    header .logo {
        height: 40px;
        width: 40px;

    }

    .mobile_menu_ul {
        margin: 0;
        display: flex;
        justify-content: space-between;
        margin-left: 10vw;
    }


    .mobile_menu_ul>li {
        font-size: calc(0.5rem + 1vw)
    }

    .mobile_menu_ul>li, .mobile_menu_ul>li.active {
        display: inline-block;
        margin: 0;
        padding: 0 15px;
    }

    .mobile_menu_ul>li a {
        color: var(--bluNavy);
        /* padding: 0 30px; */
    }

    .mobile_menu_ul>li.active .header-link {
        color: var(--verdeForesta);
    }

    .mobile_menu_ul>li span:nth-child(1) {
        display: none;
    }





    #alberelli {
        background-image: url('../images/skyline.png');
        background-repeat: repeat-x;
        height: 100px;
        /* width: 100vw; */
        width: calc(100vw);
        margin-left: -90px;
        position: fixed;
        bottom: 0;
        object-fit: scale-down;
        /* background-color: rebeccapurple; */
    }


    /* -------------------------------------------------------------------------- */
    /*                                    Card                                    */
    /* -------------------------------------------------------------------------- */


    .card_1_wrapper {
        cursor: initial;
    }

    .card_1_img {
        height: 420px;
    }

    .card_1_txt_wrapper {
        text-align: start;
    }

    .card_1_title {
        display: none;
    }

    .card_1_txt {
        display: block;
    }

}




/* -------------------------------------------------------------------------- */
/*                                    Gallery                                 */
/* --------------------------------------------------------------------------  */

.carousel-control-prev {
    background: -webkit-linear-gradient(left, rgba(5, 10, 4, 0.8) 0, transparent 90%);
}

.carousel-control-next {
    background: -webkit-linear-gradient(right, rgba(5, 10, 4, 0.8) 0, transparent 90%);
}

.carousel-control-prev, .carousel-control-next {
    opacity: 1;
    width: 18%;
}


.payment p {
    font-family: 'Hearing', sans-serif;
    font-size: 17px;
    margin-top: -16px;
}

.text_hidden {
    display: none;
}

.swiper-pagination {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-pagination-bullet-active {
    width: 20px !important;
    height: 20px !important;
}