/* Webfont: HearingRegular */@font-face {
    font-family: 'Hearing';
    src: url('HearingRegular.eot'); /* IE9 Compat Modes */
    src: url('HearingRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('HearingRegular.woff') format('woff'), /* Modern Browsers */
         url('HearingRegular.woff2') format('woff2'), /* Modern Browsers */
         url('HearingRegular.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

